
# debug
# dependencies
# env
# ide
# misc
# next.js
# production
# typescript
# vercel
# zcode agent
*.pem
*.tsbuildinfo
.DS_Store
.env*.local
.env.local.example
.idea/
.next/
.pnp
.pnp.js
.pnpm-debug.log*
.vercel
.vscode/
.zcode/
build/
next-env.d.ts
node_modules/
npm-debug.log*
out/
yarn-debug.log*
yarn-error.log*
